@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  max-height: 100%;
}

body{
  display: grid;
  margin: 4rem auto;
  width: 60rem;
  box-shadow: 0 0 10px #000;
}

main{
  padding: 2rem;
  background-color: #2B283A;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding-top: 2rem;
}

.game-title{
  font-size: 2rem;
}

.game-info{
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.75;
}

.dices-grid-container{
  margin: 2.5rem 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2rem;
  place-content: center;
}

.dice{
    padding: 0.25rem;  
    background-color: #000;  
    width: 6.5rem;  
    height: 6.5rem;  
    border-radius: 10%;
    box-shadow: 0 0 10px #000;
}

.dice.hold{
  background-color: #59E391;
  color: #F5F5F5;
}

.roll-btn button{
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  background-color: #5035ff;
  color: #FFF;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0 0 5px #000;
}

.roll-btn button:hover{
  color: #9685ff;
  background-color: #2B283A;
  border-color: #2B283A;
}

.dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #5035ff;
    margin: 0.25rem;
}

.face-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* close face-1 */

.face-2{
  display: flex;
  justify-content : space-between;
}

.face-2 .dot:nth-of-type(2) {
  align-self: flex-end;
}
/* close face-2 */

.face-3{
  display: flex;
  justify-content : space-between;
}

.face-3 .dot:nth-of-type(3) {
  align-self :flex-end;
}

.face-3 .dot:nth-of-type(2) {
  align-self :center;
}
/* close face-3 */

.face-4{
  display: grid;
  grid-template-areas:  "one two"
                        "three four";
  place-content: center;
  gap: 2rem;
}

.face-4 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-4 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-4 .dot:nth-of-type(3) {
  grid-area: "three";
}

.face-4 .dot:nth-of-type(4) {
  grid-area: "four";
}
/* close face-4 */

.face-5{
  display: grid;
  grid-template-areas:  "one two"
                        "four five";
  place-content: center;
  gap: 2rem;
}

.face-5 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-5 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-5 .dot:nth-of-type(3) {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.face-5 .dot:nth-of-type(4) {
  grid-area: "four";
}

.face-5 .dot:nth-of-type(5) {
  grid-area: "five";
}
/* close face-5 */

.face-6{
  display: grid;
  grid-template-areas:  "one two"
                        "three four"
                        "five six";
  place-content: center;
  gap: 0.25rem 2rem;
}

.face-6 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-6 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-6 .dot:nth-of-type(3) {
  grid-area: "three";
}

.face-6 .dot:nth-of-type(4) {
  grid-area: "four";
}

.face-6 .dot:nth-of-type(5) {
  grid-area: "five";
}

.face-6 .dot:nth-of-type(6) {
  grid-area: "six";
}
/* close facr-6 */

.track-container{
  display: flex;
  justify-content: space-between;
  width: 77.5%;
}

.rollCount span{
  color: #5035ff;
}

.target-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}

.messageElement{
  color: #D0342C;
  background-color: #000;
  position: relative;
  top: 25%;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #000000;
  padding: 1rem;
  font-weight: 700;
}

.timer{
  display: flex;
  justify-content: space-between;
}

.timer-container{
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
  font-weight: 700;
  gap: 0.25rem;
}

.timer{
  display: flex;
  width: 100%;
  text-align: end;
}

.timeNumber{
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: end;
  width: 100%;
}

.timeNumber span{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 3rem;
  color: #5035ff;
}

.red{
  color: red;
}

.shaking{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.timeRecord-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 4rem 4rem 2rem 4rem;
}

.previous-time{
  opacity: 0.5;
  padding: 1rem;
  border: 4px solid;
  border-radius: 1rem;
  box-shadow: 0 0 10px #000;
}

.best-time{
  color: #fdd813;
  background-color: #2B283A;
  border-color: #fdd813;
  border: 4px solid;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px #000;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}