@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  max-height: 100%;
}

body{
  display: grid;
  margin: 0 auto;
  width: 34.375rem;
  box-shadow: 0 0 10px black;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  background-color: #f8ceec;
  background-image: linear-gradient(0deg, #f8ceec 0%, #a88beb 74%);
  font-size: 80%;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo{
  width: 31.31px;
  height: 26.22px;
}

.nav-right h3{
  font-weight: 300;
}

/* close nav */

main{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text-input-container{
  display: flex;
  gap: 0.5rem;
}

#firstInput, #secondInput{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: #D5D4D8;
  border-style: solid;
}

.sumbit-input-container{
  width: 100%;
}

.sumbit-input-container button{
  width: 100%;
  padding: 0.65rem;
  font-size: 0.5rem;
  background-color: #f8ceec;
  background-image: linear-gradient(0deg, #f8ceec 0%, #a88beb 74%);
  color: #fff;
  border-radius: 0.5rem;
  border-style: none;
}

.sumbit-input-container button:hover{
  color: #000;
}

.output-container{
  border-radius: 0.5rem;
  border: 2px solid #D5D4D8;
  box-shadow: 0 0 5px black;
}
