@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
  --black: #141414ff;

  --light-black: #373737ff;

  --white: #ffffffff;

  --less-bright-white:rgba(255, 255, 255, 0.87);

  --yellow: #faa549ff;

  --tart-orange: #f2564fff;

  --light-blue: #b7d0f1ff;
}

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--less-bright-white);
}

img{
  max-width: 100%;
  max-height: 100%;
}

body{
  display: grid;
  margin: 4rem auto;
  max-width: 60rem;
  box-shadow: 0 0 10px var(--black);
  zoom: 75%;
}

main{
  padding: 2rem;
  background-color: var(--light-black);
}

footer{
  background-color: var(--light-black);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icons{
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.icons a svg:hover{
  transform: scale(1.2);
}

.page-wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  box-shadow: 0 0 10px var(--black);
  padding-top: 2rem;
}

.game-title{
  font-size: 2rem;
}

.game-info{
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.75;
}

.dices-grid-container{
  margin: 2.5rem 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2rem;
  place-content: center;
}

.dice{
    padding: 0.25rem;  
    background-color: var(--light-black);  
    width: 6.5rem;  
    height: 6.5rem;  
    border-radius: 10%;
    box-shadow: 0 0 10px var(--white);
    cursor: pointer;
}

.dice:hover{
  transform: scale(1.1);
}

.dice.hold{
  background-color: var(--white);
  opacity: 0.25;
}

.roll-btn button{
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  background-color: var(--tart-orange);
  color: var(--less-bright-white);
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0 0 5px var(--black);
  text-shadow: 0 0 5px var(--black);
  cursor: pointer;
}

.roll-btn button:hover{
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--yellow);
    margin: 0.25rem;
}

.face-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* close face-1 */

.face-2{
  display: flex;
  justify-content : space-between;
}

.face-2 .dot:nth-of-type(2) {
  align-self: flex-end;
}
/* close face-2 */

.face-3{
  display: flex;
  justify-content : space-between;
}

.face-3 .dot:nth-of-type(3) {
  align-self :flex-end;
}

.face-3 .dot:nth-of-type(2) {
  align-self :center;
}
/* close face-3 */

.face-4{
  display: grid;
  grid-template-areas:  "one two"
                        "three four";
  place-content: center;
  gap: 2rem;
}

.face-4 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-4 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-4 .dot:nth-of-type(3) {
  grid-area: "three";
}

.face-4 .dot:nth-of-type(4) {
  grid-area: "four";
}
/* close face-4 */

.face-5{
  display: grid;
  grid-template-areas:  "one two"
                        "four five";
  place-content: center;
  gap: 2rem;
}

.face-5 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-5 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-5 .dot:nth-of-type(3) {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.face-5 .dot:nth-of-type(4) {
  grid-area: "four";
}

.face-5 .dot:nth-of-type(5) {
  grid-area: "five";
}
/* close face-5 */

.face-6{
  display: grid;
  grid-template-areas:  "one two"
                        "three four"
                        "five six";
  place-content: center;
  gap: 0.25rem 2rem;
}

.face-6 .dot:nth-of-type(1) {
  grid-area: "one";
}

.face-6 .dot:nth-of-type(2) {
  grid-area: "two";
}

.face-6 .dot:nth-of-type(3) {
  grid-area: "three";
}

.face-6 .dot:nth-of-type(4) {
  grid-area: "four";
}

.face-6 .dot:nth-of-type(5) {
  grid-area: "five";
}

.face-6 .dot:nth-of-type(6) {
  grid-area: "six";
}
/* close facr-6 */

.track-container{
  display: flex;
  justify-content: space-between;
  width: 77.5%;
}

.rollCount span{
  color: var(--tart-orange);
}

.target-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}

.target-container div,.target-container div:hover{
  cursor: unset;
  transform: unset;
}

.timer{
  display: flex;
  justify-content: space-between;
}

.timer-container{
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
  font-weight: 700;
  gap: 0.25rem;
}

.timer{
  display: flex;
  width: 100%;
  text-align: end;
}

.timeNumber{
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: end;
  width: 100%;
}

.timeNumber span{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 3rem;
  color: var(--tart-orange);
}

.red{
  color: var(--tart-orange);
}

.shaking{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.timeRecord-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 4rem 4rem 2rem 4rem;
}

.previous-time{
  opacity: 0.5;
  padding: 1rem;
  border: 4px solid;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--black);
}

.best-time{
  color: var(--yellow);
  background-color: var(--black);
  border-color: var(--yellow);
  border: 4px solid;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px var(--white);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@media only screen and (max-width: 768px) {
  body{
    zoom: 70%;
  }
  @media only screen and (max-width: 600px) {
    body{
      zoom: 55%;
    }
  }
  @media only screen and (max-width: 480px) {
    body{
      zoom: 45%;
    }
  }
  @media only screen and (max-width: 400px) {
    body{
      zoom: 40%;
    }
  }
  @media only screen and (max-width: 360px) {
    body{
      zoom: 35%;
    }
  }
}